/* #015152 */

body {
    color: #000;
}

.title {
    margin: 0 0 50px 0;
}

.title h2 {
    font-size: 50px;
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    color: #fff;


}

.header.on {
    transition: 0.5s;
    background: #015152;
}

.header:hover {
    transition: 0.5s;
    background: #015152;
}






.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header .header_wrap .login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .header_wrap .login .m_p {
    display: block;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 14px;

}

.header .header_wrap .login i {
    font-size: 40px;
}

.header .header_wrap .gnb>ul {
    display: flex;
    font-size: 18px;
    gap: 100px;

}

.header .header_wrap .gnb>ul>li {
    position: relative;
}

.header .header_wrap .gnb>ul>li .sub {
    position: absolute;
    top: 100px;
    width: 145px;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 999;
    text-align: center;

    color: #555;
    font-size: 15px;
    visibility: hidden;
    opacity: 1;
}

.header .header_wrap .gnb>ul>li .sub>li {
    padding: 0 0 30px 0;
}

.header::before {
    content: "";
    top: 100px;
    position: absolute;
    background: url(../images/bg_gnb.jpg)no-repeat;
    width: 100%;
    height: 350px;
    visibility: hidden;
    opacity: 0;

}

.header:hover::before,
.header:hover .header_wrap .gnb>ul>li .sub {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}



.itm {
    height: 100vh;
}

.itm01 {
    background: url(../images/main01.jpg)no-repeat center center/cover;
}

.itm02 {
    background: url(../images/main02.jpg)no-repeat center center/cover;
}

.itm03 {
    background: url(../images/main03.jpg)no-repeat center center/cover;
}

.itm04 {
    background: url(../images/main04.jpg)no-repeat center center/cover;
}

.itm05 {
    background: url(../images/main05.jpg)no-repeat center center/cover;
}

.itm06 {
    background: url(../images/main06.jpg)no-repeat center center/cover;
}

.itm07 {
    background: url(../images/main07.jpg)no-repeat center center/cover;
}

.mainvisual .text_box {
    position: relative;
    top: 50%;
}

.mainvisual .text_box h2 {
    font-size: 50px;
    color: #fff;
}

.mainvisual .text_box p {
    font-size: 24px;
    color: #fff;
}

.mainvisual .mainslide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    background: transparent;
    border: none;
    outline: none;

    font-size: 0;
    width: 50px;
    height: 50px;
    border-left: 3px solid #99999979;
    border-top: 3px solid #99999979;
    cursor: pointer;
    transition: 0.3s;
}

.mainvisual .mainslide .slick-arrow:hover {
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
}

.mainvisual .mainslide .slick-prev {
    margin: 0 0 0 -850px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.mainvisual .mainslide .slick-next {
    margin: 0 0 0 850px;
    transform: translate(-50%, -50%) rotate(135deg);
}

.maincontent {
    padding: 100px 0;

    background: rgba(221, 221, 221, 0.4);
}

.maincontent .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontent .title i {
    font-size: 32px;
    transition: 0.5s;
}

.maincontent .title i:hover {
    transform: rotate(-90deg);
}

.maincontent .content {
    display: flex;
    gap: 30px;
    line-height: 1.4;
}

.maincontent .content .content_box {
    background: #fff;
    height: 530px;
    border-radius: 0 0 70px 0;
    overflow: hidden;
    transition: 0.3s;
}

.maincontent .content .content_box:hover {
    transform: translate(0, -30px);
}



.maincontent .content .content_box .text_box {

    padding: 30px;
}

.maincontent .content .content_box .text_box h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
}

.maincontent .content .content_box .text_box span {
    font-size: 24px;
    color: #666;
}

.maincontent .content .content_box .text_box ul {
    margin: 0 0 20px 0;
}

.maincontent .content .content_box .text_box li {
    position: relative;
    color: #666;
    left: 10px;
}

.maincontent .content .content_box .text_box li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-10%, -50%);
    border-radius: 50%;
    height: 3px;
    width: 3px;
    background: #666;
}

.mainstory {
    padding: 100px 0;
}

.mainstory .story {
    display: flex;
    flex-direction: column;
    width: 100%;


}

.mainstory .story .img_box {
    display: flex;
    gap: 30px;
    margin: 0 0 50px 0;


}

.mainstory .story .text_box {
    padding: 50px;
    line-height: 1.4;
}

.mainstory .story .box01 .text_box {
    margin: -50px 0 0 0;
}

.mainstory .story .box01 img {
    width: 700px;
}


.mainstory .story .box02 img {
    position: relative;
    right: -20%;
    transform: translate(-160px, 0);
    margin: -150px 0 0 0;
    width: 800px;
}

.mainstory .story .box02 {
    flex-direction: row-reverse;

}

.mainstory .story .box02 .text_box {
    margin: 0 200px 0 0;
}

.mainstory .story .img_box .text_box strong {
    display: block;
    font-size: 30px;
    margin: 0 0 30px 0;
}

.mainstory .story .img_box .text_box span {
    color: #666;
}

.mainstory .story .img_box {
    align-items: center;
}

.mainevent {
    padding: 100px 0;
    background: rgba(221, 221, 221, 0.2);
}

.mainevent .event {
    position: relative;
}



.mainevent .image_01 {
    display: flex;
    justify-content: space-evenly;

}

.mainevent .image_01::before {
    content: "P";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-716px, 0);
    font-size: 300px;
    color: #fff;
    text-shadow: 1px 1px 1px #99999980;
    font-family: 'EB Garamond', serif;
    font-weight: 700;

}

.mainevent .image_01::after {
    content: "U";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 300px;
    color: #fff;
    text-shadow: 1px 1px 1px #99999980;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}

.mainevent .image_01 figure {
    position: relative;
}

.mainevent .image_01 figure::before {
    content: "R";
    position: absolute;
    top: 20%;
    right: 20px;
    transform: translate(50%, 0);



    font-size: 300px;
    color: #fff;
    text-shadow: 1px 1px 1px #99999980;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}


.mainevent .image_01 .txt_box {
    padding: 150px 80px 80px 150px;
}

.mainevent .image_01 span {
    display: block;
    color: #015152;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    margin: 0 0 30px 0;
}

.mainevent .image_01 strong {
    display: block;
    color: #015152;
    font-size: 60px;
    font-weight: 500;
    line-height: 68px;
    margin: 0 0 80px 0;
}

.mainevent .image_01 a {
    font-size: 20px;
    font-weight: 300;
    padding: 8px 40px;
    color: #015152;
    border: 1px solid #015152;
    transition: 0.3s;
}

.mainevent .image_01 a:hover {
    background: #015152;
    color: #fff;
}

.mainevent .image_01 img {
    height: 700px;
    width: 600px;
    border-radius: 300px 300px 0 0;
    object-fit: cover;
}


.footer {
    height: 160px;
    background: #5a6770;
}

.footer .footer_wrap .top {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.footer .footer_wrap .top .top_lg {
    margin: 0 100px 0 0;
}

.footer .footer_wrap .top .top_m {
    display: flex;
    gap: 30px;
    margin: 0 auto 0 0;
    color: #ddd;
    font-size: 14px;
}

.footer .footer_wrap .top .top_m strong {
    color: #f5f5f5;
    font-weight: 500;
}

.footer .footer_wrap .top .top_rg {
    display: flex;
    gap: 10px;
}

.footer .footer_wrap .top .top_rg a {
    display: block;
    width: 170px;
    height: 32px;
    padding: 5px 16px;
    border: 1px solid #999;
}


.footer .footer_wrap .bottom {
    display: flex;
    justify-content: space-between;
    color: #ddd;
    font-size: 14px;
    height: 84px;
    align-items: center;
    border-top: 1px solid #999;
}

.footer .footer_wrap .bottom .bt_lg {
    margin: 0 0 0 223px;
    line-height: 1.4;
}

.footer .footer_wrap .bottom .bt_rg {
    font-size: 24px;
}